

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.cdk-visually-hidden {
  display: none;
}

@import '~@angular/material/theming';
@include mat-core();

$mytheme-app-primary: mat-palette($mat-light-blue, A700);
$mytheme-app-accent:  mat-palette($mat-grey, A200, A100, A400);
$mytheme-app-warn:    mat-palette($mat-red);

$mytheme-app-theme: mat-light-theme($mytheme-app-primary, $mytheme-app-accent, $mytheme-app-warn);

@include angular-material-theme($mytheme-app-theme);
