<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="fixed-top mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="top-header" fxLayout="row">
          <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
            <img fxFlex="50" class="title-header" routerLink="/" routerLinkActive="active" src="./assets/images/title-orange-white.png">
            <div fxFlex="10"></div>
            <button fxFlex="20" mat-button routerLink="/" routerLinkActive="active">
              HOW IT WORKS
            </button>
            <button fxFlex="20" mat-button routerLink="/hall" routerLinkActive="active">
              HALL OF FAME
            </button>
          </div>
          <div fxFlex="40" fxLayoutAlign="end center">
              <button routerLink="/profile" routerLinkActive="active" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                <i class="material-icons">account_circle</i>My site
              </button>
          </div>
        </div>
      </div>
    </header>

  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
    <h1 class="font-bold p-4" style="width: 100%;">Hall of fame</h1>
    <mat-card>
      <mat-card-content>
        <mat-tab-group class="demo-tab-group">
          <mat-tab label="Top Influencers">
            <div class="demo-tab-content">
              <table>
                  <tr class="message-container">
                    <th style="width:150px">Avatar</th>
                    <th style="width:150px">Sticker</th>
                    <th style="width:250px">Name</th>
                    <th style="width:100px"> <i class="fa fa-twitter fa-2x"></i></th>
                    <th style="width:100px"> <i class="fa fa-retweet fa-2x"></i></th>
                    <th style="width:100px"> <i class="fa fa-heart fa-2x" style="color: #f44336;"></i></th>
                    <th style="width:100px"> <img src="./assets/images/token-orange.png" style="height: 2.1em;" alt=""> </th>                    
                  </tr>
                  <div *ngFor="let message of socialMessages">
                    <tr class="message-container" >
                      <td style="width:150px"><img class="img-avatar" [src]="getSrcAvatar(message.avatar)"> </td>
                      <td style="width:150px"><img class="img-sticker" [src]="getSrcSticker(message.selectedItem)"></td>
                      <td style="width:250px"><span class="cell-text">{{message.userName || '#anonymous'}}</span></td>
                      <td style="width:100px"><span class="cell-text">{{message.totalTwit}}</span></td>
                      <td style="width:100px"><span class="cell-text">{{message.totalTwitRetweet}}</span></td>
                      <td style="width:100px"><span class="cell-text">{{message.totalTwitLike}}</span></td>
                      <td style="width:100px"><span class="cell-text">{{message.balance}}</span></td>                      
                    </tr>
                  </div>
                </table>
            </div>
          </mat-tab>
          <!-- <mat-tab label="Top Users">
              <div class="demo-tab-content">
                  <table>
                      <tr class="message-container">
                        <th style="width:150px">Avatar</th>
                        <th style="width:150px">Hero in</th>
                        <th style="width:150px">Name</th>
                        <th style="width:150px"> <i class="fa fa-trophy fa-2x"></i></th>
                        <th style="width:150px"> <i class="fa fa-bitcoin fa-2x"></i></th>
                      </tr>
                      <tr class="message-container" *ngFor="let message of userMessages">
                        <td style="width:150px" *ngFor="let col of tableUserColumns">
                            <div *ngIf="col === 'avatar'">
                              <div class="pic" [style.background-image]="'url(' + message.avatar + ')'"></div>
                            </div>
                            <div *ngIf="col !== 'avatar'">
                              {{message[col]}}
                            </div>
                        </td>
                      </tr>
                    </table>
              </div>
            </mat-tab>-->
        </mat-tab-group> 
      </mat-card-content>
    </mat-card>
  </div>
  </main>
  <footer class="page-footer center-on-small-only blue mt-5">
      <div class="container-fluid pr-0 pl-0">
          <div class="call-to-action">
              <h4 class="mb-5">Thanks for your interest</h4>
          </div>
          <div class="footer-copyright">
              <div class="container-fluid">
                  © 2018 Copyright:
                  <a href="https://www.T3chCoin.com"> T3chCoin.com </a>
              </div>
          </div>
  </div>
</footer>
</div>
    